<?xml version="1.0" encoding="UTF-8"?>
<web-app id="syrup" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Syrup</display-name>
	<servlet>
		<servlet-name>StartUpServlet</servlet-name>
		<servlet-class>com.syrup.ui.StartUpServlet</servlet-class>
		<init-param>
			<param-name>default.properties</param-name>
			<param-value>WEB-INF/default.properties</param-value>
		</init-param>
		<init-param>
			<param-name>log4j.properties</param-name>
			<param-value>WEB-INF/log4j.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-class>com.syrup.ui.HomeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HelpServlet</servlet-name>
		<servlet-class>com.syrup.ui.HelpServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PageSetupServlet</servlet-name>
		<servlet-class>com.syrup.ui.PageSetupServlet</servlet-class>
	</servlet>
	<servlet>
        <servlet-name>ProjectSetupServlet</servlet-name>
        <servlet-class>com.syrup.ui.ProjectSetupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageDeleteServlet</servlet-name>
        <servlet-class>com.syrup.ui.PageDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PageDeleteServlet</servlet-name>
        <url-pattern>/page/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectSetupServlet</servlet-name>
        <url-pattern>/project/setup</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
		<servlet-name>PageSetupServlet</servlet-name>
		<url-pattern>/page/setup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HelpServlet</servlet-name>
		<url-pattern>/help</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/index.html</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.jws</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>403</error-code>
		<location>/common/fourohthree.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/common/fourohfour.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/common/fivehundred.jsp</location>
	</error-page>
</web-app>
